@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/iranyekanwebregularfanum.eot") format("eot"),
        url("../fonts/iranyekanwebregularfanum.ttf") format("ttf"),
        url("../fonts/iranyekanwebregularfanum.woff") format("woff");
}
