@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url("@FONTS/iranyekanwebregularfanum.eot") format("eot"),
      url("@FONTS/iranyekanwebregularfanum.ttf") format("ttf"),
      url("@FONTS/iranyekanwebregularfanum.woff") format("woff");
  }
  